@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar{
    margin-bottom: 30px;
}

.star-btn{
    display: block;
    text-align: right;
    margin-top: -30px;
}

.buttons{
    text-align: right;
    margin-top: -30px;
}

.btn.btn-light{
    margin-left: 10px;
}

.new_user_registration{
  display: block;
  margin: 0 0 0 auto;
}


//画像のサイズ調整
.thumbnail{
  width: 40px;
  height: 40px;
  //サイズ指定
  border-radius: 20px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.thumbnail-from-user{
  margin: 0 0 0 80px;
}

//ログイン登録・修正画面の調整
input[type="email"] {
    width: 400px;
    height: 40px;
}

input[type="password"] {
    width: 400px;
    height: 40px;
}

//入力画面の調整
#form-content-assist{
    height: 120px;
    overflow-wrap: break-word;
}

#form-content-action{
    height: 120px;
    overflow-wrap: break-word;
}