<p><%= @resource.email %>様</p>

<p>パスワードの変更リクエストを受け付けました。以下のリンクから行ってください。</p>

<p><%= link_to 'パスワードの変更はこちらから', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、身に覚えがない場合には、このメールは無視してください。</p>
<p>上記のリンクよりアクセスして新しいパスワードを作成するまでは、パスワードは変更されません。</p>
<p>パスワードの変更を行う場合にはこのメールが届いてから6時間以内に行ってください。</p>
<p>6時間を過ぎた場合には、再度パスワードの変更リクエストを行ってください。</p>
